<!-- Footer -->
<footer class="js-footer-is-fixed">
    <!-- Footer Default -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-logo-wrapper">
                        <!-- Logo Image -->
                        <a href="index.html" class="logo-image">
                            <img src="img/logos/logo-guide-footer2.png" alt="logo">
                        </a>
                        <!-- End of Logo Image -->
                        <!-- Slogan -->
                        <p class="slogan"> Learn.
                            <br>Create.
                            <br>Impress. </p>
                        <!-- End of Slogan -->
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="footer-wrapper">



                        <!-- Scroll top -->
                        <span class="scroll-top js-scroll-top">
                            <i class="fa fa-angle-up"></i>
                        </span>
                        <!-- End of Scroll top -->



                        <!-- Version -->
                        <div class="docs-version js-docs-version">
                            <span class="docs-current-version js-docs-current-version">v1.0</span>
                            <!-- <ul class="js-docs-version-list">
                                <li><a href="#">1.0</a></li>
                            </ul> -->
                        </div>
                        <!-- End of Version -->



                        <!-- Footer Menu -->
                        <!-- <ul class="footer-menu helper right">
                            <li><a href="#"> item1</a></li>
                            <li><a href="#"> item2</a></li>
                            <li><a href="#"> item3</a></li>
                            <li><a href="#"> item4</a></li>
                            <li><a href="#"> item5</a></li> -->
                        </ul>
                        <!-- End of Footer Menu -->


                        <!-- Copyright -->
                        <!-- <p class="copyright helper right">Jandiro Aragão, Todos os direitos reservados 2019 &copy; </p> -->
                        <!-- End of Copyright -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Footer Default -->
</footer>
<!-- End of Footer -->