<!-- Header -->
<div class="header header-over large">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- Logo Image -->
                <a href="index.html" class="logo-image">
                    <img src="img/logos/logo-guide.png" alt="logo">
                </a>
                <!-- End of Logo Image -->
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6">
                <!-- Menu -->
                <nav class="right helper">
                    <ul class="menu sf-menu js-menu">
                        <li><a href="index.html">Índice geral</a></li>
                        <li><a href="./guia-de-inicio-rapido.html">Guia de início rápido</a></li>
                        <li>
                            <a href="#">Tutoriais disponíveis
                                <!-- <span class="menu-label">NEW</span> -->
                            </a>
                            <ul>

                                <li><a href="./guia-de-inicio-rapido.html"> Guia de Início Rápido</a></li>
                                <li><a href="./enviando-mensagem-para-um-servico-usando-perfil-do-ESB.html"> Enviando mensagem para um serviço usando o perfil do ESB</a></li>
                                <li><a href="./enviando-mensagem-simples-para-um-servico-usando-o-micro-integrator.html"> Enviando mensagem para um serviço usando o Micro Integrator</a></li>
                                <li><a href="./enviando-mensagem-para-uma-fonte de dados.html"> Enviando mensagem para uma fonte de dados</a></li>
                                <li><a href="./routing-requests-based-on-message-content.html"> Roteando requisições baseadas no conteúdo da mensagem</a></li>
                                <li><a href="./transformando-o-conteudo-da-mensagem.html"> Transformando o Conteúdo da Mensagem</a></li>
                                <li><a href="./expondo-varios-servicos-como-um-unico-servico.html"> Expondo vários serviços como um único serviço</a></li>
                                <li><a href="./storing-and-forwarding-messages.html"> Armazenando e encaminhando menssagens</a></li>
                                <li><a href="./usando-o-gmail-connector.html"> Usando o Gmail Connector</a></li>
                                <li><a href="./gerenciando-um-processo-de-negocios.html"> Gerenciando um Processo de Negócios</a></li>
                                <li><a href="./usando-o-painel-do-analytics.html"> Usando o painel do Analytics</a></li>
                                <li><a href="./WSO2-EI-best-practices.html"> Melhores práticas com WSO2 EI</a></li>

                            </ul>
                        </li>
                        
                        <li> <a href="./WSO2-EI-best-practices.html">Melhores práticas com WSO2 EI</a></li>
                    </ul>
                </nav>
                <!-- End of Menu -->
            </div>
        </div>
    </div>
</div>
<!-- End of Header -->


<!-- Header Back -->
<div class="header-back header-back-simple header-back-small">
    <div class="header-back-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Page Info -->
                    <div class="page-info page-info-simple">
                        <h1 class="page-title">WSO2 | Enterprise Integrator 6.4.0</h1>
                        <h2 class="page-description">Por: Jandiro Arão</h2>
                    </div>
                    <!-- End Page Info -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Header Back -->















